*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
}
/* class watcher-scroll */
.watcher-scroll {
    height: 5px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
    background-color: #49B11E;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: watcher-scroll linear;
    animation-timeline: scroll(y);
}
  @keyframes watcher-scroll {
    to {
      scale: 1 1;
    }
  }
  /* end class watcher-scroll */
/* start  class  bar header  */
.bar-header{
    width: 100%;
    height: 60px;
    background-color: rgb(26, 130, 171);
    font-family: "Work Sans", sans-serif;
}
.bar-header .bar-head{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: "Noto Sans", sans-serif; */
}
.bar-header .bar-head .right-bottom{
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    color: white;
}
.bar-header .bar-head .right-bottom a{
    color: white;
}
.bar-header .bar-head .right-bottom:hover span a {
    color: rgb(255, 255, 35);
    transition: all 0.2s linear;
}
.bar-header .bar-head .left-bottom{
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    color: white;
}
.bar-header .bar-head .left-bottom a{
    text-decoration: none;
    color: white;
}
.bar-header .bar-head .left-bottom a:hover li{
    color: rgb(255, 255, 35);
    transition: all 0.4s;
}
/* end  class bar header  */
/* start class nav-bar*/
.bar{
    width: 80%;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
}
.bar img{
    height: 55px;
}
.bar h1{
    font-size: 1.4rem;
    font-weight: bolder;
    padding-left: 8px;
    font-family: "Work Sans", sans-serif;
    color: #49B11E;
}
/* end  class nav-bar */
/* start class Menu */
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #49B11E;
}
.nav-bar .sub-nav{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}
.nav-bar .sub-nav ul{
    display: flex;
}
.nav-bar .sub-nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 15px;
}
.nav-bar .sub-nav ul li .active {
    color: rgb(255, 255, 35);
}
.nav-bar .sub-nav ul li a:hover{
    color: rgb(255, 255, 35);
    /* color: rgb(206, 63, 11); */
    transition: all 0.3s;
}
/* end  class Menu */
/* section -> start class hero */
.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.hero-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 2, 2, 0.465);
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    line-height: 2;
}
.hero-content h1{
    width: 80ch;
    font-size: 2.2rem;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 4s steps(30) infinite alternate-reverse;
}
/* media query for aniamtion  */
@keyframes typing{
    from{
        width: 0ch;
        color: #52e314;
    }
}
.hero-content p{
    font-size: 1.1rem;
    margin-top: -20px;
    margin-bottom: 10px;
}