* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h2 {
    color: #49B11E;
    font-weight: bolder;
    font-family: "Work Sans", sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

/* class watcher-scroll */
.watcher-scroll {
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #49B11E;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: watcher-scroll linear;
    animation-timeline: scroll(y);
}

@keyframes watcher-scroll {
    to {
        scale: 1 1;
    }
}

/* end class watcher-scroll */
/* start  class  bar header  */
.bar-header {
    width: 100%;
    height: 60px;
    background-color: rgb(26, 130, 171);
    font-family: "Work Sans", sans-serif;
}

.bar-header .bar-head {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-family: "Noto Sans", sans-serif; */
}

.bar-header .bar-head .right-bottom {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    color: white;
}

.bar-header .bar-head .right-bottom a {
    color: white;
}

.bar-header .bar-head .right-bottom:hover span a {
    color: rgb(255, 255, 35);
    transition: all 0.2s linear;
}

.bar-header .bar-head .left-bottom {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    color: white;
}

.bar-header .bar-head .left-bottom a {
    text-decoration: none;
    color: white;
}

.bar-header .bar-head .left-bottom a:hover li {
    color: rgb(255, 255, 35);
    transition: all 0.2s;
}

/* end  class bar header  */
/* start class nav-bar*/
.bar {
    width: 80%;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
}

.bar img {
    height: 55px;
}

.bar h1 {
    font-size: 1.4rem;
    font-weight: bolder;
    padding-left: 8px;
    font-family: "Work Sans", sans-serif;
    color: #49B11E;
}

/* end  class nav-bar */
/* start class Menu */
.nav-bar {
    width: 100%;
    height: 60px;
    background-color: #49B11E;
}

.nav-bar .sub-nav {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}

.nav-bar .sub-nav ul {
    display: flex;
}

.nav-bar .sub-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 15px;
}

.nav-bar .sub-nav ul li .active {
    color: rgb(255, 255, 35);
}

.nav-bar .sub-nav ul li a:hover {
    color: rgb(255, 255, 35);
    transition: all 0.3s;
}

.hero-image {
    width: 100%;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-image h1 {
    position: absolute;
    top: 85%;
    color: white;
    padding: 0px 20px;
}

/* end  class Menu */
/* section -> start class hero */
.tours {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, margin(200px, 1fr));
    margin: auto;
    display: flex;
    gap: 21.5px;
    flex-wrap: wrap;
}
.tours .sub-tours {
    height: 470px;
    width: 345px;
    box-shadow: 0px 0px 5px 0px gray;
    overflow: hidden;
    /* margin-bottom: 200px; */
    border-radius: 5px;
    position: relative;
}

.sub-tours:hover {
    transform: translateY(-3px);
    transition: all 0.4s ease;
}

.tours .sub-tours .img-category {
    width: 100%;
    height: 30%;
}

.tours .sub-tours .img-category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: block;
}

.card-content {
    width: 100%;
    height: 247px;
    background-color: #ffff;
    font-family: "Work Sans", sans-serif;
}

.card-content h3 {
    font-size: 1.2rem;
    padding: 25px 20px 0px 10px;
}
.card-content p {
    font-size: 1rem;
    padding: 10px 20px 0px 10px;
    line-height: 1.5;
}
.info {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.info p {
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    line-height: 1.5;
}

.info p:not(:last-child) {
    border-right: 1px solid #2c3e50;
    padding-right: 20px;
}

button {
    position: absolute;
    border: none;
    top: 90%;
    left: 20px;
}

.views a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #49B11E;
    font-family: "Work Sans", sans-serif;
    border-radius: 5px;
}

.views a:hover {
    background-color: black;
    transition: all 0.5s ease;
}

.price {
    position: absolute;
    top: 87%;
    left: 200px;
    font-weight: 600;
    font-weight: bolder;
}
.card-content .price {
    font-size: 1.3rem;
    padding: 10px 20px 0px 10px;
}
/* section -> end class hero */
/* start class may-like */
.may-like {
    width: 95%;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, margin(200px, 1fr));
    display: flex;
    flex-wrap: wrap;
    gap: 41.5px;
    position: relative;
    /* background-color: green; */
}
.may-like::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 8, 8, 0);
    transition: all 0.5s ease;
}
.may-like .sub-may-like {
    width: 330px;
    height: 223px;
    box-shadow: 0px 0px 6px 0px gray;
    background-color: #fff;
    position: relative;
}
.sub-may-like::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 8, 8, 0.264);
    transition: all 0.5s ease;
}
a img {
    width: 100%;
    height: 100%;
}
.may-like .txt-box {
    position: absolute;
    top: 0;
    color:#ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 1.2;
}
.may-like .txt-box h2 {
    color: white;
    font-size: 1.8rem;
    margin-top: 30px;
}
.may-like .txt-box p {
    font-size: 1rem;
}
.sub-may-like .more {
    position: absolute;
    top: 84%;
    left: 0;
    font-size: 1.3rem;
    margin: 0px 30px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
}
.sub-may-like .more a {
    text-decoration: none;
    color: white;
}
.sub-may-like:hover {
    transform: scale(1.03);
    transition: all 1s  ease;
    box-shadow: 1px 1px 6px 1px gray;
}
.sub-may-like:hover .more a {
    /* color: orangered; */
    color: #4ff708;
}
.sub-may-like:hover .more i{
    /* color: orangered; */
    color: #50fe06;
    transform: translateX(8px);
}
/* end class may-like */
/* start class footer */
.logo-txt {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.logo-txt img {
    height:50px;
    margin-right: 5px;
}
.logo-txt h3 {
    font-size: 1.8rem;
    margin-top: 10px;
}
.footer {
    background: url("../images/footer.jpg") no-repeat center center/cover;
    color: white;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    font-family: "Work Sans", sans-serif;
}
.footer-section {
    max-width: 300px;
}
.footer-section p, .footer-section a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    display: block;
}
.footer-icons a {
    display: inline-block;
    margin: 10px 0;
    margin-right: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.footer-bottom {
    text-align: center;
    padding: 10px;
    display: flex;  
    justify-content: space-between;
}
.footer-bottom p:nth-child(2) {
    margin-left: 674px;
}
.sections-gride {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    margin-top: 40px;
}
.txt-p {
    margin-top: 30px;
    font-size: 1.1rem;
    line-height: 1.5;
}
.hr-box {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}
/* end class footer */